.header{
	background:tomato;
	width: 100%;
	height: 100px;
	display: flex;
	border-radius: 0 0 20px 20px;
}
.logo{
	padding: 30px;
	font-size: 20px;
	font-weight: bolder;
	float: left;
	width: 30%;

}
.menu{
	float: right;
	width: 70%;
	padding: 20px 0;
	text-align: center;
}
.menu li{
	display: inline;
	padding: 0 10px;
}
a{
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	color: white;
}
a:hover{
	color: black;
	text-decoration: underline;


}
body{
	margin: 0px;
}
footer{
	background: orange;
	


}
p{
	padding: 20px;
	text-align: center;
}
table, th, tr, td{
	border: 1px solid black;
	padding: 5px;
}
table{
	margin: 50px;
}